/* GLOBAL VARS --------------------------------------------------------------------------------- */

:root{
  --blue: rgb(19,128,253);
  --lightBlue: rgb(164, 204, 250);
  --orange: rgb(204, 85, 0);
  --grey: rgb(244,244, 244);
}

/* APP ---------------------------------------------------------------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* BUTTONS ----------------------------------------------------------------------------------- */

button.ui.blue.large.fluid.button, button.ui.button{
  background-color: var(--blue);
}

button.ui.blue.large.fluid.button:hover, button.ui.button:hover, a:hover{
  color: var(--lightBlue);
}

a{
  color: #ffffff;
}


div.ui.inverted.nav.menu{
  background-color: var(--orange);
}

.cardPrice{
  position: relative;
  margin: -20% 25% 20% -7.5%;
  z-index: 2;
  background-color: hsla(212, 98%, 53%, 0.6);
  color: white;
}

.cardPic{
  position: relative;
  z-index: 1;
}

form.ui.form{
  width: 100vw;
}


span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container{
  width: 95% !important;
}

body{
  background-color: var(--grey) !important;
}