:root{
  --blue: rgb(19,128,253);
  --orange: rgb(204, 85, 0);
  --grey: rgb(244,244, 244);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container{
  width: 95% !important;
}

body{
  background-color: var(--grey) !important;
}

.button{
  background-color: var(--blue) !important;
}

.nav{
  background-color: var(--orange) !important;
}